html,body{
    margin:0px;
    background-image:linear-gradient(#9DBA94, #2D72BC);
}

#main{
    width:100vw;
    height:315vh;
    display:flex;
    background-image:linear-gradient(#2D72BC, #9DBA94);
}


.mid{
    flex-basis: 300px;

}

.right{
    flex-basis: 412px;
    
}

.left{
    flex-basis: 412px;
    background-image:linear-gradient(#2D72BC, #9DBA94);
    align-items: center;
    justify-content: center;
}