body, html{
    margin:0;
}

.flex{
    display: flex;
}

#main{
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(#EADC64, #B5CF94);
}

#card{
    background-image:linear-gradient(#EADC64, #B5CF94);
    padding:20px 20px 0px 20px;
    width:414px;
    min-height:896px;
    flex-wrap:wrap;
    flex-direction: column;
    display:flex;
}

.heading{
    justify-content: center;
}

.smile_emoji{
    justify-content: center;
}

.img{
    width:213px;
    height:213px;
}

.description-1{
    justify-content: center;
}

.description-2{
    justify-content: center;
}

.icons{
    justify-content: space-evenly;
}

.icon-1{
    width:71px;
    height:71px;
}

.icon-2{
    width:82px;
    height:82px;
}

.icon-3{
    width:80px;
    height:80px;
}

.one{
    justify-content: center;
    flex-grow:1;
}

.arrow{
    justify-content: center;
    flex-grow:1;
}

.arrow img{
    width:37px;
    height:37px;
}

.bot-row{
    justify-content: center;
    flex-grow:1;
}

.back-icon{
    width:30px;
    height:30px;
}

.next-icon{
    width:30px;
    height:30px;
}




